<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6" xmlns="http://www.w3.org/1999/html">
<head th:replace="/partial/head"></head>
<body>
<div th:replace="/partial/nav"></div>
<div class="container-md text-center border" style="margin-top: 90px;">
    <div class="row">
        <div class="col-md-8">
            <div class="problema center-block text-center">
                <h1 class="nav-item d-flex" sec:authorize="isAuthenticated()"><a style="pointer-events: none; display: inline-block;" class="nav-link"> Welcome, <span sec:authentication="name"></span></a></h1>
                <h1 th:switch="${problem.operation}" th:case="'+'">Impariamo l'addizione</h1>
                <h1 th:switch="${problem.operation}" th:case="'-'">Impariamo la sottrazione</h1>
                <h1 th:switch="${problem.operation}" th:case="'*'">Impariamo la moltiplicazione</h1>
                <h2 th:text="'Quanto fa ' + ${problem.num1} + ' ' + ${problem.operation} + ' ' + ${problem.num2} + '?'"></h2>
                <form th:action="@{/answer}" method="post">
                     <!-- id="answer-form">-->
                  <!--  <input type="hidden" name="answer" id="answer" />-->
                    <button type="submit" th:name="answer" th:value="${soluzione.valore1}" th:text="${soluzione.valore1}"></button>
                    <button type="submit" th:name="answer" th:value="${soluzione.valore2}" th:text="${soluzione.valore2}"></button>
                    <button type="submit" th:name="answer" th:value="${soluzione.valore3}" th:text="${soluzione.valore3}"></button>
                    <button type="submit" th:name="answer" th:value="${soluzione.valore4}" th:text="${soluzione.valore4}"></button>
                   <!-- <button type="submit" th:value="${soluzione.valore4}" th:text="${soluzione.valore4}" th:onclick="'javascript:submitForm('+${soluzione.valore4}+')'"></button>-->
<!--                    <button type="submit" style="visibility:none">Submit</button>-->
                </form>
            </div>
        </div>
        <div class="col-md-4">
            <div class="punteggio center-block text-center">
                <p th:text="'Punteggio Totale: '+ ' ' + ${punteggio.totale}"></p>
                <p>...</p>
                <p>...</p>
                <p>...</p>
            </div>
         </div>
    </div>
    <div class="row">
        <div class="col-md-8">
        </div>
        <div class="col-md-4">
            <div class="punteggio center-block text-center">
                <p th:text="'Risposte corrette: '+ ' ' + ${punteggio.risposteCorrette}"></p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
        </div>
        <div class="col-md-4">
            <div class="punteggio center-block text-center">
                <p th:text="'Risposte sbagliate: '+ ' ' + ${punteggio.risposteErrate}"></p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8"></div>
        <div class="col-md-4">
            <div class="punteggio center-block text-center">
                <p th:text="Classifica"></p>
                <p>Primo:</p>
                <p>Secondo:</p>
                <p>Terzo:</p>
                <p >Quarto:</p>
            </div>
        </div>
    </div>
<!--    <script>
        function submitForm(value) {
            document.getElementById('answer').value = value;
            document.getElementById('answer-form').submit();
        }
    </script>-->

</div>
<div th:replace="/partial/footer"></div>
<div th:replace="/partial/script"></div>
</body>
</html>
